@import "style-screen.css" screen;
@import "style-print.css" print, speech;

h1 {
    color: #000080;
    font-size: 200%;
    text-align: center;
}

@media screen {
    body {
        font-family: Arial, Verdana, sans-serif;
        color: #333;
    }
}

@media print {
    body {
        font-family: Times, "Times New Roman", serif;
        color: #000;
    }
}
